# Movies dataset prepared by Abhay Partap Singh Rana  
## movie from 2001 to 2010
## srap  more than 4500 movies list

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import bs4
import time

In [16]:
l=[]
driver = webdriver.Chrome(executable_path="C:\\Users\\guddu\\Desktop\\chromedriver.exe")
driver.get('https://www.imdb.com/search/title/?title_type=feature&year=2001-01-01,2010-12-31&sort=release_date,asc&start=1&ref_=adv_nxt')

# scrap names of movie

In [13]:
ab=[]
pa=[1,51,101,151,201,251,301,351,401,451,501,551,601,651,701,751,801,851,901,951,1001,1051,1101,1151,1201,1251,1301,1351,1401,1451,1501,1551,1601,1651,1701,1751,1801,1851,1901,1951,2001,2051,2101,2151,2201,2251,2301,2351,2401,2451,2501,2551,2601,2651,2701,2751,2801,2851,2901,2951,3001,3051,3101,3151,3201,3251,3301,3351,3401,3451,3501,3551,3601,3651,3701,3751,3801,3851,3901,3951,4001,4051,4101,4151,4201,4251,4301,4351,4401,4451,4501,4551,4601,4651,4701,4751,4801,4851,4901,4951,5001,5051,5101,5151,5201,5251,5301,5351,5401,5451,5501,5551,5601,5651,5701,5751,5801,5851,5901,5951]
for i in pa:
    driver.get(f'https://www.imdb.com/search/title/?title_type=feature&year=2001-01-01,2010-12-31&sort=release_date,asc&start={i}&ref_=adv_nxt')
    for j in range(51):
        name=driver.find_elements_by_xpath(f'//*[@id="main"]/div/div[3]/div/div[{j}]/div[3]/h3/a')
        for names in name:
            ab.append(names.text)

# movie_time and year

In [18]:
time1=[]
year1=[]
pa=[1,51,101,151,201,251,301,351,401,451,501,551,601,651,701,751,801,851,901,951,1001,1051,1101,1151,1201,1251,1301,1351,1401,1451,1501,1551,1601,1651,1701,1751,1801,1851,1901,1951,2001,2051,2101,2151,2201,2251,2301,2351,2401,2451,2501,2551,2601,2651,2701,2751,2801,2851,2901,2951,3001,3051,3101,3151,3201,3251,3301,3351,3401,3451,3501,3551,3601,3651,3701,3751,3801,3851,3901,3951,4101,4151,4201,4251,4301,4351,4401,4451,4501,4551,4601,4651,4701,4751,4801,4851,4901,4951,5001,5051,5101,5151,5201,5251,5301,5351,5401,5451,5501,5551,5601,5651,5701,5751,5801,5851,5901,5951]

for i in pa:
    driver.get(f'https://www.imdb.com/search/title/?title_type=feature&year=2001-01-01,2010-12-31&sort=release_date,asc&start={i}&ref_=adv_nxt')
    d1=driver.page_source
    soup=bs4.BeautifulSoup(d1,'html.parser')
    time=soup.find_all('span',{'class':'runtime'})
    year=soup.find_all('span',{'class':'lister-item-year text-muted unbold'})
    for t in time:
        time1.append(t.text)
    for tt in year:
        year1.append(tt.text)

In [19]:
year1.__len__()

5900

In [20]:
time1.__len__()

4432

In [32]:
d=pd.read_csv('names.csv')

In [33]:
d.head()

   Unnamed: 0                      movie_name
0           0  Hemingway, the Hunter of Death
1           1                Ethirum Puthirum
2           2                Firestorm Rising
3           3                 Escaping Jersey
4           4                  Painting Faces

In [39]:
time=[]
year=[]
# soup=bs4.BeautifulSoup(data,'html.parser')
# time=soup.find_all('span',{'class':'runtime'})
try:
    pa=[1,51,101,151,201,251,301,351,401,451,501,551,601,651,701,751,801,851,901,951,1001,1051,1101,1151,1201,1251,1301,1351,1401,1451,1501,1551,1601,1651,1701,1751,1801,1851,1901,1951,2001,2051,2101,2151,2201,2251,2301,2351,2401,2451,2501,2551,2601,2651,2701,2751,2801,2851,2901,2951,3001,3051,3101,3151,3201,3251,3301,3351,3401,3451,3501,3551,3601,3651,3701,3751,3801,3851,3901,3951,4101,4151,4201,4251,4301,4351,4401,4451,4501,4551,4601,4651,4701,4751,4801,4851,4901,4951,5001,5051,5101,5151,5201,5251,5301,5351,5401,5451,5501,5551,5601,5651,5701,5751,5801,5851,5901,5951]

    for i in pa:
        driver.get(f'https://www.imdb.com/search/title/?title_type=feature&year=2001-01-01,2010-12-31&sort=release_date,asc&start={i}&ref_=adv_nxt')

        d1=driver.page_source
        soup=bs4.BeautifulSoup(d1,'html.parser')
        time=soup.find_all('span',{'class':'runtime'})
        year=soup.find_all('span',{'class':'lister-item-year text-muted unbold'})
        for t in time:
            time.append(t.text)
except:
    print('error occured')

error occured

In [17]:
l=[]
soup=bs4.BeautifulSoup(data,'html.parser')
time=soup.find_all('span',{'class':'runtime'})
pa=[1,51,101,151,201,251,301,351,401,451,501,551,601,651,701,751,801,851,901,951,1001,1051,1101,1151,1201,1251,1301,1351,1401,1451,1501,1551,1601,1651,1701,1751,1801,1851,1901,1951,2001,2051,2101,2151,2201,2251,2301,2351,2401,2451,2501,2551,2601,2651,2701,2751,2801,2851,2901,2951,3001,3051,3101,3151,3201,3251,3301,3351,3401,3451,3501,3551,3601,3651,3701,3751,3801,3851,3901,3951,4001,4051,4101]

for i in pa:
    url=f'https://www.imdb.com/search/title/?title_type=feature&year=2001-01-01,2001-12-31&start={i}&ref_=adv_nxt'
    d1=driver.page_source
    soup=bs4.BeautifulSoup(d1,'html.parser')
    time=soup.find_all('span',{'class':'runtime'})
    for t in time:
        l.append(t.text)

In [28]:
import pandas as pd
data=pd.DataFrame({
                   'time':time1
                   
    
}

)

In [29]:
data.to_csv('time.csv')

In [30]:
data

         time
0      60 min
1      93 min
2      45 min
3      91 min
4      87 min
...       ...
4427   71 min
4428   96 min
4429   99 min
4430  130 min
4431  104 min

[4432 rows x 1 columns]